@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.centralized-container {
  @apply px-1 max-w-7xl mx-auto md:px-8;
}

@media (max-width: 400px) {
  .grid-custom-cols-1 {
    @apply grid-cols-1;
  }
}
