@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.centralized-container {
  @apply px-1 max-w-7xl mx-auto md:px-8;
}
